@model DemoDotnet.Models.Person

@{
    ViewData["Title"] = "Delete";
}

<h1>Xóa</h1>

<h3>Bạn chắc chắn muốn xóa người dùng này chứ?</h3>
<div>
    <h4>Người dùng</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PersonID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
